{% extends "basewithmenu.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>UPC</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td> <i class="bi bi-pencil-square" onClick="loadItemEditFrame('{{ product.Id }}', '{{ product.Name }}')"
                    data-bs-toggle="modal" data-bs-target="#frameModal"></i> </td>
            <td onClick="loadItemsFrame('{{ product.Id }}', '{{ product.Name }}')" data-bs-toggle="modal"
            data-bs-target="#frameModal">{{ product.Name }}</td>
            <td onClick="loadItemsFrame('{{ product.Id }}', '{{ product.Name }}')" data-bs-toggle="modal"
            data-bs-target="#frameModal">{{ product.UPC }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="frameModal" tabindex="-1" aria-labelledby="frameModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="frameModalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe id='modalFrame' src="" class="modal-frame"></iframe>
            </div>
        </div>
    </div>
</div>


<script>
    function loadItemsFrame(prodId, prodName) {
        document.getElementById('modalFrame').src = 'productsitems?productId=' + prodId;
        document.getElementById('frameModalTitle').innerHTML = '<b>Product Item:</b> ' + prodName;
    }

    function loadItemEditFrame(prodId, prodName) {
        document.getElementById('modalFrame').src = 'editproduct?productId=' + prodId;
        document.getElementById('frameModalTitle').innerHTML = '<b>Product Item:</b> ' + prodName;
    }
    
    
</script>
{% endblock %}